@model int

<div class="container row mt-2">
    <div class="col-12 p-2 text-center">
        <h1>Your payment was succesfull!</h1>
        Your Order Number: @Model
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been applied successfully! <br />
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@Model" class="btn btn-primary">
            Back to Order Details
        </a>
    </div>
</div>