@model Product
<div class="card shadow mt-4">
	<div class="card-header bg-dark text-white bg-gradient ml-0 py-3 rounded-top-2">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="py-2">Edit Product</h2>
			</div>
		</div>
	</div>
	<div class="card-body border border-1 border-primary p-3 rounded-bottom-3">
		<form method="post" class="row px-3">
			<div class="border px-3">
				<div class="text-bg-danger bg-opacity-75" asp-validation-summary="All"></div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Title"></label>
					<input class="form-control  mt-1" asp-for="Title" placeholder="Type title of product..." />
					<span class="text-danger" asp-validation-for="Title"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Description"></label>
					<input class="form-control  mt-1" asp-for="Description" placeholder="Type description of product..." />
					<span class="text-danger" asp-validation-for="Description"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="ISBN"></label>
					<input class="form-control  mt-1" asp-for="ISBN" placeholder="Type ISBN of product..." />
					<span class="text-danger" asp-validation-for="ISBN"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Author"></label>
					<input class="form-control  mt-1" asp-for="Author" placeholder="Type author of product..." />
					<span class="text-danger" asp-validation-for="Author"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="ListPrice"></label>
					<input class="form-control  mt-1" asp-for="ListPrice" placeholder="Type list price of product..." />
					<span class="text-danger" asp-validation-for="ListPrice"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Price"></label>
					<input class="form-control  mt-1" asp-for="Price" placeholder="Type price for 1-49 products..." />
					<span class="text-danger" asp-validation-for="Price"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Price50"></label>
					<input class="form-control  mt-1" asp-for="Price50" placeholder="Type price for 50-99 products..." />
					<span class="text-danger" asp-validation-for="Price50"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="Price100"></label>
					<input class="form-control  mt-1" asp-for="Price100" placeholder="Type price for 100+ products..." />
					<span class="text-danger" asp-validation-for="Price100"></span>
				</div>
				<div class="row mb-3">
					<label class="p-0 text-primary form-label" asp-for="CategoryId"></label>
					<input class="form-control  mt-1" asp-for="CategoryId" placeholder="Type id of category!" />
					<span class="text-danger" asp-validation-for="CategoryId"></span>
				</div>
				<div class="row">
					<div class="col-md-3 col-6">
						<button type="submit" class="btn btn-primary form-control text-nowrap">
							Update
						</button>
					</div>
					<div class="col-md-3 col-6">
						<a asp-controller="Product" asp-action="Index" class="btn btn-dark border form-control text-nowrap">
							Back to list
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts
	{
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}